<?php include('top.php') ?>
<?php include('topmenu.php') ?>
<?php include('left.php') ?>

<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Dashboard
            <small></small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="javascript:void(0)"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
          </ol>
        </section>


        <!-- Main content -->
        <section class="content">
        
       
          <!-- Info boxes -->
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-aqua"> <img src="images/aicon1.png" alt="#" style="display:block; margin:23px auto; width:48px;"></span>
                <div class="info-box-content">
                  
                  <span class="info-box-number">HOME</span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
            </div>
        
        
        <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-aqua"><img src="images/aicon2.png" alt="#" style="display:block; margin:21px auto; width:48px;"></span>
                <div class="info-box-content">
                  
                   <span class="info-box-number">Finder table</span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
            </div>
            
            
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-aqua"><img src="images/aicon3.png" alt="#" style="display:block; margin:20px auto; width:50px;"></span>
                <div class="info-box-content">
                  
                   <span class="info-box-number">Lead</span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
            </div>
            
            
            
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-aqua"><img src="images/aicon4.png" alt="#" style="display:block; margin:21px auto; width:48px;"></span>
                <div class="info-box-content">
                  
                    <span class="info-box-number">Commission table</span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
            </div>
            
            
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-aqua"><img src="images/aicon5.png" alt="#" style="display:block; margin:21px auto; width:48px;"></span>
                <div class="info-box-content">
                  
                  <span class="info-box-number">Create Finder</span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
            </div>
            
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-aqua"><img src="images/aicon6.png" alt="#" style="display:block; margin:21px auto; width:48px;"></span>
                <div class="info-box-content">
                  
                  <span class="info-box-number">Edit content of finder page</span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
            </div>
            
            
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-aqua"><img src="images/aicon7.png" alt="#" style="display:block; margin:18px auto; width:54px;"></span>
                <div class="info-box-content">
                  
                   <span class="info-box-number">upload banner</span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
            </div>
            
            
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-aqua"><img src="images/aicon8.png" alt="#" style="display:block; margin:21px auto; width:48px;"></span>
                <div class="info-box-content">
                  
                   <span class="info-box-number">configure mail</span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
            </div>
            
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-aqua"><img src="images/aicon9.png" alt="#" style="display:block; margin:24px auto; width:48px;"></span>
                <div class="info-box-content">
                  
                  <span class="info-box-number" >log out</span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
            </div>
         

            
          </div>

        </section><!-- /.content -->
      </div>
<?php include('footer.php') ?>
