<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="css/style.css" type="text/css" rel="stylesheet">
    <link href="css/media.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="container-fluid home_banner_section">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 home_banner_wrapper_section">
            <div class="home_banner_wrapper"><img src="images/home_banner.png" alt="#"> </div>
            <div class="container-fluid home_banner_menu_block">
                <div class="row">
                    <div class="container home_banner_top_block">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 home_banner_logo_section">
                                <a href="javascript:void(0);"> <img src="images/logo.png" alt="#"></a>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 home_banner_menu_section">
                                <nav class="navbar">
                                    <div class="container-fluid">
                                        <div class="navbar-header"><span class="menu_text">MENU</span>
                                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>

                                        </div>
                                        <div class="collapse navbar-collapse" id="myNavbar">
                                            <ul class="nav navbar-nav">
                                                <li class="active"><a href="#">Home</a></li>
                                                <li><a href="#">About</a></li>
                                                <li><a href="#">Enroll</a></li>
                                                <li><a href="#">Programs</a></li>
                                                <li><a href="#">Login</a></li>
                                                <li><a href="#">Contact</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container home_banner_middle_block">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h1>Banking For the new millennium</h1>
                        <span class="banner_line"></span>
                        <h2>Bank of the People, for the People and by the People.</h2>
                        <a href="javascrpt:void(0);" class="banner_downarrow"><img src="images/banner_downarrow.png" alt="#"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid home_banner_bottom_block">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            our core Philosophy: everybody wins
        </div>
    </div>
</div>
<div class="container global_wrapper">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 global_wrapper_block">
            <img src="images/banking_icon.png" alt="#">
            <strong>Global Banking</strong>
            <p>Virtual Global Banking <br>Built for You, Built for Mobile</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 global_wrapper_block">
            <img src="images/payments_icon.png" alt="#">
            <strong>Global Payments</strong>
            <p>Payroll or Payout to one person or 1,000,000 people…Zero Limits</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 global_wrapper_block">
            <img src="images/mobality_icon.png" alt="#">
            <strong>Global Mobility</strong>
            <p>A Truly Universal Solution for Today’s Mobile Workforce</p>
        </div>
    </div>
</div>


<div class="container-fluid home_body_block1">
    <div class="row">
        <div class="container-fluid home_body_block1_section">
            <div class="row">
                <h1>about</h1>
                <div class="container home_body_block1_section_content">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h2>MyBankNow is a new kind of bank. <span class="text-italic"> Our Core Philosophy is:</span> <span class="text-color">Everyone Wins.</span><br>
                                We are a Bank of the People, for the People and by the People.  <span class="text-italic">Our Charter:</span> <span class="text-color">A Bank in Every Hand.</span>
                            </h2>
                            <p>“The legacy banking system is working just as the creators hoped it would.
                                If that doesn’t keep you up at night, you need to have your head examined.”</p>
                            <h3>- Jon Forrest, <span>Founder, MyBankNow</span></h3>
                            <div class="video_block">
                                <div class="video_block_frame">
                                    <div class="video-container">
                                        <iframe src="https://www.youtube.com/embed/GjVtSaAPdeQ" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>

                            <h4>Watch this video and see how <span>MyBankNow</span> is putting the power of the legacy banks
                                into the palm of your hand.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid home_body_block2">
    <div class="row">
        <div class="container home_body_block2_section">
            <div class="row">
                <h1>MyBankNow is to Banks what Uber is to Taxis. Just like Uber still uses cars, we still use banks, but our Cloud Banking model is user-driven and decentralized.</h1>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 home_body_block2_section_left">
                    <ul>
                        <li>Signup from any internet connected device, 24/7/365</li>
                        <li>Establish and fund your Cloud Account<sup>TM</sup> in minutes</li>
                        <li>Use your Cloud Account<sup>TM</sup> to transfer funds instantly</li>
                        <li>Order as many MasterCard debit cards as you need</li>
                        <li>Earn rewards for referring others to join MyBankNow</li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 home_body_block2_section_right">
                    <h1>"Be Your Own Bank!"</h1>
                    <a href="javascript:void(0);"><img src="images/download_pdfimg.png" alt="#"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid home_body_block3">
    <div class="row">
        <h1>Enroll</h1>
        <div class="container home_body_block3_section">
            <div class="row">
                <h2><span>Enroll Now!</span><br>
                    Get an international bank account, with all the benefits of being a bank,<br>
                    all for an unbelievable price!</h2>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 home_body_block3_section_left">
                    <h2>Protect Your Assets In Your Cloud Vault!</h2>
                    <ul>
                        <li>Cloud Account <sup>TM</sup> costs $4.95 for an international bank account</li>
                        <li>Monthly Maintenance fee is just $1.95 with 24/7/365 support</li>
                        <li>Instant International Transfers are never more than $4.00</li>
                        <li>Unlimited MasterCard Debit Cards are only $14.95 each</li>
                        <li>Includes Shipping to most places on earth in about 7 days</li>
                    </ul>
                    <a href="javascript:void(0);" class="learn_more">Learn More</a>
                    <a href="javascript:void(0);" class="enroll_now">Enroll Now</a>
                    <div class="clearfix"></div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 home_body_block3_section_right">
                    <a href="javascript:void(0);"><img src="images/download_pdfimg2.png"alt="#"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid home_body_block4">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 home_body_block4_left">
            <h1>Programs</h1>
            <h4>MyBankNow offers a variety of programs to assist businesses of every size to be more competitive, save money, grow globally, and increase profits. </h4>
            <h2>Looking for a Career in FinTech?</h2>
            <div class="vocation_btn">
                <a href="#myModal2" class="vocation_btn_text" data-toggle="modal" data-target="#myModal2">Click for Vocational Instruction Program</a>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 home_body_block4_right">
            <div class="container home_body_block4_right_section">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 home_body_block4_right_section_block">
                        <img src="images/home_body_block4_right_section_img1.png" alt="#">
                        <p>International Sales Groups
                            Global Pay-in Payout</p>
                        <a href="#myModal1" class="program_wrapper_link" data-toggle="modal" data-target="#myModal1">Learn More</a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 home_body_block4_right_section_block">
                        <img src="images/home_body_block4_right_section_img2.png" alt="#">
                        <p>On-Demand Commerce
                            Text Transaction Platform</p>
                        <a href="#myModal1" class="program_wrapper_link" data-toggle="modal" data-target="#myModal3">Learn More</a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 home_body_block4_right_section_block">
                        <img src="images/home_body_block4_right_section_img3.png" alt="#">
                        <p>Currency Conversion
                            Global Paymaster</p>
                        <a href="#myModal1" class="program_wrapper_link" data-toggle="modal" data-target="#myModal4">Learn More</a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 home_body_block4_right_section_block">
                        <img src="images/home_body_block4_right_section_img4.png" alt="#">
                        <p>Term Investments
                            Guaranteed Returns </p>
                        <a href="#myModal1" class="program_wrapper_link" data-toggle="modal" data-target="#myModal5">Learn More</a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 home_body_block4_right_section_block">
                        <img src="images/home_body_block4_right_section_img5.png" alt="#">
                        <p>Business Formation
                            All-Shore Trust Structures </p>
                        <a href="#myModal1" class="program_wrapper_link" data-toggle="modal" data-target="#myModal6">Learn More</a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 home_body_block4_right_section_block">
                        <img src="images/home_body_block4_right_section_img6.png" alt="#">
                        <p>Cloud Banking
                            Secure International Vault</p>
                        <a href="#myModal1" class="program_wrapper_link" data-toggle="modal" data-target="#myModal7">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!------------modal-section------------->

<div class="modal fade popup" id="myModal1" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="home_body_block4_right_section_popup_img">
                    <img src="images/home_body_block4_right_section_popup_img1.png" alt="#">
                </div>
                <h1>INTERNATIONAL SALES GROUPS<br>
                    GLOBAL PAY-IN/PAYOUT</h1>
                <p>MyBankNow Provides the ultimate solution for organizations who need to take payments from people in all parts of the world, and pay out commissions, salaries and vendor invoices to people in all parts of the world,
                    without all the risk and red tape of legacy banking system.</p>
                <div class="clearfix"></div>
            </div>
            <div class="modal-body">
                <img src="images/home_body_block4_right_section_popup_downarrow.png" class="popup_downarrow" alt="#">
                <ul>
                    <li><img src="images/home_body_block4_right_section_popup_libg.png" alt="#"> Does not require Merchant Services - Go Global from Day One!</li>
                    <li><img src="images/home_body_block4_right_section_popup_libg.png" alt="#"> Customers can establish and fund their Cloud Account <sup>TM</sup> in a Single Session!</li>
                    <li><img src="images/home_body_block4_right_section_popup_libg.png" alt="#"> They then Transfer Funds to your Company Cloud Account <sup>TM</sup> instantly.</li>
                    <li><img src="images/home_body_block4_right_section_popup_libg.png" alt="#"> Payout Salaries and Commissions one by one or batch thousands at one time.</li>
                    <li><img src="images/home_body_block4_right_section_popup_libg.png" alt="#"> Custom Branded Account Dashboard, Very Low Fees, Excellent Support!</li>
                </ul>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0);"><img src="images/logo.png" alt="#"></a>
            </div>
        </div>
        <!-- Modal content-->
    </div>
</div>
<!-- Modal-1--->
<!-- Modal-2--->
<div class="modal fade popup" id="myModal2" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="home_body_block4_right_section_popup_img">
                    <img src="images/vocation_popup_img.png" alt="#">
                </div>
                <h1>FIN TECH CAREER PATH<br>
                    VOCATIONAl INSTRUCTION PROGRAM</h1>
                <p>MyBankNow provides anyone seeking a career in the rapidly growing Financial Technology sector (FinTech) a
                    chance to realize unlimited potential. Our Vocational Instruction Program (VIP) will provide the training,
                    tools and support you need. </p>
                <div class="clearfix"></div>
            </div>
            <div class="modal-body">
                <img src="images/home_body_block4_right_section_popup_downarrow.png" class="popup_downarrow" alt="#">
                <ul>
                    <li><img src="images/home_body_block4_right_section_popup_libg.png" alt="#"> A True Career with online instruction, in-person mentoring and certification.</li>
                    <li><img src="images/home_body_block4_right_section_popup_libg.png" alt="#"> Promote cutting edge, totally unique, high-tech solutions to clients.</li>
                    <li><img src="images/home_body_block4_right_section_popup_libg.png" alt="#"> Earn an income based on your ambition, drive and determination to succeed.</li>
                    <li><img src="images/home_body_block4_right_section_popup_libg.png" alt="#"> Join our growing, global FinTech Team and bring your special talents and skills.</li>
                    <li><img src="images/home_body_block4_right_section_popup_libg.png" alt="#"> All you need is a Smartphone to get started.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0);"><img src="images/logo.png" alt="#"></a>
            </div>
        </div>

    </div>
</div>
<!--Modal-2--->
<!-- Modal-3--->
<div class="modal fade popup" id="myModal3" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="home_body_block4_right_section_popup_img">
                    <img src="images/home_body_block4_right_section_popup_img2.png" alt="#">
                </div>
                <h1>ON-DEMAND COMMERCE<br>
                    TEXT TRANSACTION PLATFORM</h1>
                <p>MyBankNow Provides the first and only SMS Text Commerce Bankware. Solution. Drive Revenue on Demand with
                    Bi-directional Text Marketing. Broadcast an offer, recipients respond with your keyword, and purchase with just two simple text messages! Works in over 91 countries.</p>
                <div class="clearfix"></div>
            </div>
            <div class="modal-body">
                <img src="images/home_body_block4_right_section_popup_downarrow.png" class="popup_downarrow" alt="#">
                <ul>
                    <li><img src="images/home_body_block4_right_section_popup_libg.png" alt="#"> Does not require Internet or WiFi - Works like Paypal for Text on ANY phone.</li>
                    <li><img src="images/home_body_block4_right_section_popup_libg.png" alt="#"> Ideal for promoting discounts, closeout/overstock items & perishable inventory.</li>
                    <li><img src="images/home_body_block4_right_section_popup_libg.png" alt="#"> Proceeds are transferred into your Company Cloud Account <sup>TM</sup> in 2 - 3 Days.</li>
                    <li><img src="images/home_body_block4_right_section_popup_libg.png" alt="#"> Pay fees ONLY on products sold. No charge to broadcast promotions to members.</li>
                    <li><img src="images/home_body_block4_right_section_popup_libg.png" alt="#"> Integrated with Cloud Account for Global Pay-in/Payout Clients.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0);"><img src="images/logo.png" alt="#"></a>
            </div>
        </div>

    </div>
</div>
<!--Modal-3--->
<!-- Modal-4--->
<div class="modal fade popup" id="myModal4" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="home_body_block4_right_section_popup_img">
                    <img src="images/home_body_block4_right_section_popup_img3.png" alt="#">
                </div>
                <h1>CURRENCY CONVERSION - GLOBAL PAYMASTER</h1>
                <p>MyBankNow Provides clients in the commodities, precious metals and gem industries with a streamlined solution for converting foreign currencies into Digitized US Dollars, and supports traders with a reliable Paymaster Service to
                    facilitate funds in and out.</p>
                <div class="clearfix"></div>
            </div>
            <div class="modal-body">
                <img src="images/home_body_block4_right_section_popup_downarrow.png" class="popup_downarrow" alt="#">
                <ul>
                    <li><img src="images/home_body_block4_right_section_popup_libg.png" alt="#"> Funds go directly to the MyBankNow Account in the appropriate jurisdiction.</li>
                    <li><img src="images/home_body_block4_right_section_popup_libg.png" alt="#"> Rapid turn around with accelerated document review, KYC and Tax Approval.</li>
                    <li><img src="images/home_body_block4_right_section_popup_libg.png" alt="#"> Receiving account is USD so funds are exchanged as they exit sending bank.</li>
                    <li><img src="images/home_body_block4_right_section_popup_libg.png" alt="#"> Payout to any bank account worldwide for seller and commission earners.</li>
                    <li><img src="images/home_body_block4_right_section_popup_libg.png" alt="#"> Intermediaries can have commissions transferred instantly to Cloud Account<sup>TM</sup>.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0);"><img src="images/logo.png" alt="#"></a>
            </div>
        </div>

    </div>
</div>
<!--Modal-4--->
<!-- Modal-5--->
<div class="modal fade popup" id="myModal5" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="home_body_block4_right_section_popup_img">
                    <img src="images/home_body_block4_right_section_popup_img4.png" alt="#">
                </div>
                <h1>TERM INVESTMENTS - GUARANTEED RETURNS</h1>
                <p>MyBankNow Offers High Net-Worth Investors with a range of securities and certificate programs that enable rapid
                    conversion of funds, attractive dividends on term investments, and guaranteed returns that embarrass those from legacy banks.</p>
                <div class="clearfix"></div>
            </div>
            <div class="modal-body">
                <img src="images/home_body_block4_right_section_popup_downarrow.png" class="popup_downarrow" alt="#">
                <ul>
                    <li><img src="images/home_body_block4_right_section_popup_libg.png" alt="#"> Wire Transfer out of a poor performing currency and convert to a term security.</li>
                    <li><img src="images/home_body_block4_right_section_popup_libg.png" alt="#"> Terms range from 10 days to 24 months, depending on client objectives.</li>
                    <li><img src="images/home_body_block4_right_section_popup_libg.png" alt="#"> Yields as high as 8% compounded quarterly on a 24-month term.</li>
                    <li><img src="images/home_body_block4_right_section_popup_libg.png" alt="#"> 3 Different Programs to choose from, depending on objectives and funds available.</li>
                    <li><img src="images/home_body_block4_right_section_popup_libg.png" alt="#"> Please obtain Login information from your Rep or via Contact page to leam more.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0);"><img src="images/logo.png" alt="#"></a>
            </div>
        </div>

    </div>
</div>
<!--Modal-5--->
<!-- Modal-6--->
<div class="modal fade popup" id="myModal6" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="home_body_block4_right_section_popup_img">
                    <img src="images/home_body_block4_right_section_popup_img5.png" alt="#">
                </div>
                <h1>BUSINESS FORMATION<br>
                    ALL-SHORE TRUST STRUCTURES</h1>
                <p>MyBankNow Provides consulting and referrals to help clients properly structure their business to maximize available benefits. Jurisdictional banking and wealth preservation are relics of a bygone era. We help you do it right the first time so you can rest easy.</p>
                <div class="clearfix"></div>
            </div>
            <div class="modal-body">
                <img src="images/home_body_block4_right_section_popup_downarrow.png" class="popup_downarrow" alt="#">
                <ul>
                    <li><img src="images/home_body_block4_right_section_popup_libg.png" alt="#"> Take advantage of unique trust and foundation structures to protect wealth.</li>
                    <li><img src="images/home_body_block4_right_section_popup_libg.png" alt="#"> Get assistance in forming corporate entities in multiple jurisdictions.</li>
                    <li><img src="images/home_body_block4_right_section_popup_libg.png" alt="#"> Evaluate your understanding of long-term stores of value in an uncertain world.</li>
                    <li><img src="images/home_body_block4_right_section_popup_libg.png" alt="#"> Ensure that generational wealth is truly protected for the long-term.</li>
                    <li><img src="images/home_body_block4_right_section_popup_libg.png" alt="#"> Please obtain Login information from your Rep or via Contact page to learn more.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0);"><img src="images/logo.png" alt="#"></a>
            </div>
        </div>

    </div>
</div>
<!--Modal-6--->
<!-- Modal-7--->
<div class="modal fade popup" id="myModal7" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="home_body_block4_right_section_popup_img">
                    <img src="images/home_body_block4_right_section_popup_img6.png" alt="#">
                </div>
                <h1>CLOUD BANKING<br>
                    SECURE INTERNATIONAL VAULT</h1>
                <p>MyBankNow Delivers our Core Product to people in every part of the world. Cloud Banking allows people to participate in that we call the GlobaLocal Marketplace by obtaining a Cloud Account International Bank Account,
                    MasterCard and Cloud Vault.</p>
                <div class="clearfix"></div>
            </div>
            <div class="modal-body">
                <img src="images/home_body_block4_right_section_popup_downarrow.png" class="popup_downarrow" alt="#">
                <ul>
                    <li><img src="images/home_body_block4_right_section_popup_libg.png" alt="#"> Cloud Banking - 24/7/365 in the palm of your hand, anywhere in the world.</li>
                    <li><img src="images/home_body_block4_right_section_popup_libg.png" alt="#"> Accept Payments, Wire Transfer Funds, Account-to-Account transfers instantly.</li>
                    <li><img src="images/home_body_block4_right_section_popup_libg.png" alt="#"> Get your own IBAN (International Bank Account Number) and SWIFT Code.</li>
                    <li><img src="images/home_body_block4_right_section_popup_libg.png" alt="#"> Issue MasterCard reloadable debit cards to anyone, anywhere in just days.</li>
                    <li><img src="images/home_body_block4_right_section_popup_libg.png" alt="#"> Perfect for Individuals, Small to Mid-Size Business, or Global Enterprise.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0);"><img src="images/logo.png" alt="#"></a>
            </div>
        </div>

    </div>
</div>
<!--Modal-7--->

<!-----------end-modal-section---------->
<div class="container-fluid home_body_block5">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 home_body_block5_section">
            <h1>Contact</h1>
            <div class="home_body_block5_section_block">
                <div class="home_body_block5_contant_block">
                    <div class="home_body_block5_contant_block_left">
                        To Establish Your Cloud Account Now
                    </div>
                    <div class="home_body_block5_contant_block_right">
                        <a href="javascript:void(0);">Click Here <img src="images/click_here_arrow.png" alt="#"></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="home_body_block5_contant_block">
                    <div class="home_body_block5_contant_block_left">
                        To Start a Career Selling MyBankNow Services
                    </div>
                    <div class="home_body_block5_contant_block_right">
                        <a href="javascript:void(0);">Click Here <img src="images/click_here_arrow.png" alt="#"></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="home_body_block5_contant_block">
                    <div class="home_body_block5_contant_block_left">
                        To Contact Support For Help With Your Account
                    </div>
                    <div class="home_body_block5_contant_block_right">
                        <a href="javascript:void(0);">Click Here <img src="images/click_here_arrow.png" alt="#"></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <p>To Learn More About How MyBankNow Programs Could Help Your Business,
                    Please Contact The Agent Who Introduced You To MyBankNow.</p>
            </div>
        </div>
        <div class="clearfix"></div>
        <h2>In order to protect our Agents, we do not accept direct inquiries without first<br>
            identifying who introduced you to or how you found out about <span>MyBankNow</span>.</h2>
    </div>
</div>
<div class="container-fluid home_body_block6">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="home_form_section">
                        <form>
                            <input type="text" placeholder="My Agent Is..." class="home_form_input">
                            <!--<span class="err_msg">Error</span>-->
                            <input type="text" placeholder="My Agent's Mobile Number is..." class="home_form_input">
                            <!--<span class="err_msg">Error</span>-->
                            <input type="text" placeholder="I do not have an agent. I learned about MyBankNow from..." class="home_form_input">
                            <!--<span class="err_msg">Error</span>-->
                            <button type="submit" class="home_form_submit">SUBMIT</button>
                        </form>
                        <div class="home_form_People">
                            <img src="images/home_input_personimg.png" alt="#">
                        </div>
                        <h2>A MyBankNow Team Member Will<br>
                            Get Back to You In 24 Hours or Less</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid home-footer-top_section">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <a href="javascript:void(0);"><img src="images/logo.png" alt="#"> </a>
            <h2>Ave Paseo de la Reforma No. 180. Piso 14. Suite 1445 Col. Juarez. Mexico DF. C.P 06600</h2>
            <a href="tel:+ (52) 55 41 24 02 56 LATAM" class="contact_tel">+ (52) 55 41 24 02 56 LATAM</a>
            <a href="tel:1 (888) 516-4519 USA" class="contact_tel">1 (888) 516-4519 USA</a>
            <a href="mailTo:Email: answers@mybanknow.com">Email: answers@mybanknow.com</a>
            <h2>Web: <a href="javascript:void(0);">MyBankNow.Com</a></h2>
        </div>
    </div>
</div>
<div class="container-fluid home-footer-bottom_section">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            Copyright 2016 MyBankNow | All Rights Reserved
        </div>
    </div>
</div>

<!--<script type="text/javascript" src="js/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script> -->

</body>
</html>
