
<style type="text/css">
	.peracc_head{margin-bottom:7px!important;}
	.login-box{margin-bottom:10px;}
	.login_head{margin-bottom:5px!important;}
</style>

<div class="container-fluid peracc_body login_bodybg">

    <div class="row">
    <div class="container-fluid login_head peracc_head ">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 peracc_head_section">
            <div class="container peracc_head_section_container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 peracc_head_section_col">
                        <div class="peracc_head_section_logo">
                            <a href="/index"><img src="images/logo.png" alt="#"></a>
                        </div>
                        <!--<ul class="peracc_head_section_menu">
                            <li><a ui-sref="index">Home</a> </li>
                            <li><a ui-sref="login">Login</a> </li>
                            <li><a href="javascript:void(0);" class="active">Create An Account</a> </li>
                        </ul>-->
                        <div class="peracc_head_section_menu">
                            <nav class="navbar">
        
                                            <div class="container-fluid">
        
                                                <div class="navbar-header"><span class="menu_text">MENU</span>
        
                                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        
                                                        <span class="icon-bar"></span>
        
                                                        <span class="icon-bar"></span>
        
                                                        <span class="icon-bar"></span>
        
                                                    </button>
        
        
        
                                                </div>
        
                                                <div class="collapse navbar-collapse" id="myNavbar">
        
                                                    <ul class="nav navbar-nav">
        
                                                        <li class="active"><a ui-sref="index">Home</a></li>
        
                                                        <li><a class="about" href="javascript:void(0)">About</a></li>
        
                                                        <li><a class="enroll" href="javascript:void(0)">Enroll</a></li>
        
                                                        <li><a class="program" href="javascript:void(0)">Programs</a></li>
        
                                                        <li><a ui-sref="choose-login">Login</a></li>
        
                                                        <li><a class="contact" href="javascript:void(0)">Contact</a></li>
        
                                                    </ul>
        
                                                </div>
        
                                            </div>
        
                                        </nav>
						</div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <div class="login-box">
        
            <div class="login-boxwrapper">
               <div class="login-logo" style="margin-bottom:0px;">
                    <img src="images/logo.png" alt="#" style="display:block; width:96%; margin:0 auto; margin-top:30px;">
                </div><!-- /.login-logo -->
                <div class="login-box-body">
                <label>Login</label>
                    <!--<img src="images/lock.png" alt="#" style="display:block; margin:0 auto;">-->
                    <p class="login-box-msg" style=" font-size:22px;">Enter your email and password to log in</p>
                    <form angular-validator-submit="login()"  name="loginForm"  class="form-horizontal" novalidate angular-validator>
                        <div ng-show="errormsg" class="errormsg">{{errormsg}}</div>
                        <div class="form-group has-feedback">
                            <input type="email" class="form-control" placeholder="Email" style="font-family:Arial, Helvetica, sans-serif;" name="email"
        
                                   ng-model="form.email"
                                   required-message="'Email can not be blank.'"
                                   invalid-message="'Enter valid email address.'"
                                   required
                                    >
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="password" class="form-control" placeholder="Password" style="font-family:Arial, Helvetica, sans-serif;" name="password"
        
                                   ng-model="form.password"
        
                                   required-message="'Password can not be blank.'"
                                   required
        
                                    >
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                        
                        
                        <div class="row">
                            <!-- /.col -->
                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-primary btn-block btn-flat loginbtn">Sign In</button>
                            </div><!-- /.col -->
                        </div>
                        <div class="forgot_pass"> <a ui-sref="forgot-password">Forgot Password?</a></div>
                    </form>
        
                    <!-- /.social-auth-links -->
        
                    
        
        
                </div><!-- /.login-box-body -->
            </div>
        
        </div>
	</div>
</div>