<div class="container-fluid peracc_body">

    <div class="row">



        <div class="peracc_body_signup mycloud_signup">



            <div class="mycloud_body_signup_block">

                <label>login</label>
                
                <p>Enter your Username and Password to Log In</p>

                <form>

                    <input type="text" placeholder="Username" class="peracc_body_signup_input">

                    <input type="text" placeholder="Email" class="peracc_body_signup_input">

                    <span class="mycloud_body_signup_checkbox">

                        <a href="javascript:void(0);">Forgot password?</a>

                    </span>





                    <button type="submit" class="peracc_body_signup_submit"><img src="images/mycloud_lockicon.png" alt="#">Login</button>

                </form>

            </div>

        </div>

    </div>

</div>

