

<style type="text/css">

.peracc_footer{position:inherit!important; top:0px; bottom:0px; left:0px; right:0px;}

.peracc_body_mycloud{padding:3px 15px 3px 15px!important;}

</style>

<div class="container-fluid peracc_body peracc_body_mycloud">



    <div class="row">







        <div class="peracc_body_signup mycloud_signup">







            <div class="mycloud_body_signup_block">



                <label>login</label>

                

                <p>Enter your username and password to log in</p>



                <form>



                    <input type="text" placeholder="Email" class="peracc_body_signup_input">



                    <input type="password" placeholder="Password" class="peracc_body_signup_input">



                    











                    <button type="submit" class="peracc_body_signup_submit"><img src="images/mycloud_lockicon.png" alt="#">Login</button>
                    <span class="mycloud_body_signup_checkbox">



                        <a href="javascript:void(0);">Forgot password?</a>



                    </span>

                    <a href="/new-account" class="creat_account">Create a New Account</a>



                </form>



            </div>



        </div>



    </div>



</div>



