<div class="container-fluid peracc_body">

    <div class="row">

        <h1>Sign up for Mycloudaccount<sup>TM</sup></h1>

        <p>Choose from 2 types of accounts</p>

        <div class="newacc_body_area">

            <a ui-sref="business-account" class="business_con">

                <div class="newacc_body_area_left">

                    <img src="images/newaccount_icon1.png" class="newaccount_icon1" alt="#">

                 <img src="images/newaccount_icon1_hover.png" class="newaccount_icon1_hover" alt="#">

                    <h1>Business</h1>

                </div>

            </a>

            <a ui-sref="personal-signup" class="personal_con">

                <div class="newacc_body_area_right">

                    <img src="images/newaccount_icon2.png" class="newaccount_icon2" alt="#">

               <img src="images/newaccount_icon2_hover.png" class="newaccount_icon2_hover" alt="#">

                    <h1>Personal</h1>

                </div>

            </a>

            <div class="clearfix"></div>

        </div>

    </div>

</div>

